.header-for{
    height: 29rem;
    background: #B7904B;
    .position-absolute{
        left: calc(50% - 14.5rem);
        .contact-text{
            color: #E5E5E5;
            font-family: sans-serif;
            font-size: 4.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.contact-box{
    margin-top: 12rem;
    margin-bottom: 20rem;
    .contact-p1{
        color: #14274A;
        font-family: Adobe Garamond Pro;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .contact-p2{
        color: #14274A;
        font-family: Montserrat;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .row{
        margin-top: 10rem;
        &__abs{
            color: #14274A;
            font-family: Montserrat;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__view{
            color: #14274A;
            font-family: Montserrat;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &__phone{
            color: #14274A;
            font-family: Montserrat;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

form{
    .btn{
        margin:1rem 6.3rem 0 0;
    }
}
